/*! ======================================================================================== */
/*! =========================================FONTS========================================== */
/*! ======================================================================================== */
@font-face {
	font-family: 'open';
	src: url('../fonts/opensans.woff') format('woff'), 
	     url('../fonts/opensans.woff2') format('woff2'), 
	     url('../fonts/opensans.ttf')  format('truetype');
	}
@font-face {
	font-family: 'open-bold';
	src: url('../fonts/opensansbold.woff2') format('woff2'), 
	     url('../fonts/opensansbold.woff') format('woff'), 
	     url('../fonts/opensansbold.ttf')  format('truetype');
	}
@font-face {
	font-family: 'open-light';
	src: url('../fonts/opensanslight.woff2') format('woff2'), 
	     url('../fonts/opensanslight.woff') format('woff'), 
	     url('../fonts/opensanslight.ttf')  format('truetype');
	}
@font-face {
	font-family: 'open-semibold';
	src: url('../fonts/opensanssemibold.woff2') format('woff2'), 
	     url('../fonts/opensanssemibold.woff') format('woff'), 
	     url('../fonts/opensanssemibold.ttf')  format('truetype');
	}