/*! ======================================================================================== */
/*! =========================================BRANDS========================================= */
/*! ======================================================================================== */
.brands__title {
	font-family: "open-bold";
	// margin-bottom: 10px;
	font-size: 20px;
}

.brands__list {
	display: flex;
	flex-wrap: wrap;
}

.brands__item {
	margin-top: 10px;
	margin-right: 20px;

}

.brands__item a{
	color: $red;
	font-family: "open-bold";
	display: flex;
	border-bottom: 1px solid $red;
	transition: .3s;

	&:hover {
		border-bottom: 1px solid transparent;
	}
}