/*! ======================================================================================== */
/*! =========================================MODEL========================================= */
/*! ======================================================================================== */

.model {
  background-color: #fff;
  padding: 40px;

  @include phones {
    padding: 10px;
  }
}

.model__title {
  font-family: "open-bold";
  font-size: 20px;
}

.model__title--with-btn {
	display: flex;
	justify-content: space-between;

	@include tablets-hor {
		flex-direction: column;
		align-items: flex-start;
	}
}

.model__title-btn {
	// width: 100%;
	border: 2px solid #5D2F95;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 10px;
	white-space: nowrap;
	color: #5D2F95;
	transition: 0.3s;
	font-family: "open-semibold";
	&:hover {
		background-color: #5D2F95;
		color: #fff;
	}

	@include tablets-hor {
		margin-top: 20px;
	}
}

.model__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;

  @include tablets-hor {
    flex-direction: column-reverse;
  }
}

.model__table-row {
  padding: 10px;
}

.model__table-title {
  font-weight: bold;
  padding: 7px 20px 7px 0;
}

.model__table-value--color {
  display: flex;
  align-items: center;
  padding: 7px 0;

  & span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
  }
}

//appropriate
.model__appropriate {
  margin-top: 40px;
  display: flex;
	margin-bottom: 40px;
	
	@include tablets {
		flex-direction: column;
	}
}

.model__appropriate-title {
  width: 25%;
  font-weight: bold;
  font-size: 18px;
	flex-shrink: 0;

	@include tablets {
		width: 100%;
		margin-bottom: 10px;
	}
}

.model__appropriate-list {
  display: flex;
  flex-wrap: wrap;
}

.model__appropriate-link {
  color: #0000ee;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

//PRICE
.model__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 2px dashed #888;

  @include tablets-hor {
    flex-direction: column;
  }
}

.model__price-type {
  font-size: 36px;
  font-family: "open-semibold";
}

.model__price-money {
  font-size: 50px;
  font-family: "open-bold";
}

//qty

.model__price-qty {
  display: flex;
  border: 1px solid #5ecaa0;
  border-radius: 10px;
  height: 54px;

  @include tablets-hor {
    margin: 10px 0;
  }
}

.model__price-qty-btn,
.model__price-qty-val {
  height: 52px;
  width: 52px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.model__price-qty-btn--down {
  border-radius: 10px 0 0 10px;
}

.model__price-qty-btn--up {
  border-radius: 0 10px 10px 0;
}

.model__price-qty-btn {
  background-color: #ebebeb;
  transition: 0.3s;

  &:hover {
    background-color: #d4d4d4;
  }
}

.model__price-qty-val-input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
}

.model__price-action {
  position: relative;
}

.model__price-action-buy {
  background: linear-gradient(180deg, #8b6cb6 13.39%, #56358f 88.55%);
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(180deg, #56358f 13.39%, #8b6cb6 88.55%);
  }
}

.model__price-action-total {
  color: #000000;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "open-semibold";
}

.model__only-buy {
  padding: 60px 0 40px 0;
  width: 100%;
  display: flex;
	justify-content: center;
	border-top: 2px dashed #888;
}

.model__only-buy-block {
  background: #fffaed;
  border: 1px solid #fae5b1;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 600px;
  min-height: 170px;
  padding: 20px;
  background: url("/img/content/pic/man.svg") no-repeat #fffaed;
  background-position: right bottom;
}

.model__only-buy-block-text {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2;

  a {
    text-decoration: underline;
    color: #551a8b;

    &:hover {
      text-decoration: none;
    }
  }
}

.model__additional {
	padding: 40px
}

.model__additional-title {
	font-weight: bold;
	color: #fff;
}

.model__additional-list {
	display: flex;
	flex-direction: column;
}

.model__additional-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	min-height: 150px;
	border-radius: 10px;
	margin-top: 20px;

	@include tablets {
		flex-direction: column;
		padding: 20px 0;
	}
}

.model__additional-item-image {
	width: 20%;
	margin-left: 20px;

	@include tablets {
		width: 50%;
	}
}

.model__additional-item-content {
	width: 50%;
	margin-left: 20px;
	@include tablets {
		margin-top: 10px;
		width: 100%;
	}
}

.model__additional-item-title {
	color: #EE4266;
	font-size: 30px;
	font-family: "open-semibold";
	border-bottom: 3px solid #EE4266;
	transition: 0.3s;
	display: flex;
	width: fit-content;

	&:hover {
		border-bottom: 3px solid transparent;
	}
}

.model__additional-item-text {
	margin-top: 10px;
	display: flex;
	white-space: nowrap;
	font-size: 14px;

	span {
		font-weight: bold;
	}

	@include tablets-hor {
		flex-direction: column;
	}
	@include tablets {
		flex-direction: row;
	}
	@include phones {
		flex-direction: column;
	}
}

.model__additional-item-text-inner {
	margin-right: 20px;
	@include tablets-hor {
		margin-top: 10px;
	}
	@include tablets {
		margin-top: 0px;
	}
	@include phones {
		margin-top: 10px;
	}
}



.model__additional-item-btn {
	width: 30%;
	padding: 0 20px;

	@include tablets-hor {
		width: initial;
	}
}

.model__additional-item-button {
	width: 100%;
	border: 2px solid #5D2F95;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 5px;
	white-space: nowrap;
	color: #5D2F95;
	transition: 0.3s;
	font-family: "open-semibold";
	

	&::before {
		content: "";
		display: flex;
		background: url("/img/icons/shesternya.svg");
		background-repeat: no-repeat;
		// background-size: 30px 30px;
		width: 29px;
		height: 30px;
		margin-right: 10px;
		font-size: 20px;
	}
	
	&:hover {
		background-color: #5D2F95;
		color: #fff;

		&::before {
			background: url("/img/icons/shesternya_w.svg");
		}
	}
	@include tablets-hor {
		width: initial;
	}
	@include tablets {
		margin-top: 20px;
	}
}

.model__refill {
	border-top: 2px dashed #888;
	padding-top: 10px;
	display: flex;

	@include desktop {
		flex-direction: column;
	}

	@include phones {
		align-items: center;
	}
}

.model__refill-title {
	font-size: 30px;
	font-family: 'open-extra';
	width: 50%;
	flex-shrink: 0;

	@include desktop {
		width: 100%;
	}
	
	@include phones {
		text-align: center;
	}
}

.model__refill-price {
	width: 50%;
	flex-shrink: 0;
	max-width: fit-content;
	margin-top: 25px;

	@include desktop {
		width: 100%;
	}
}

.model__refill-calc {
	display: flex;
	flex-direction: column;
}

.model__refill-calc-text {
	font-size: 18px;
	font-family: "open-semibold";
}

.model__refill-calc-controls {
	display: flex;
	margin-top: 10px;
}

.model__refill-calc-btn {
	background-color: $yellow;
	padding: 10px 30px;
	margin-right: 2px;
	white-space: nowrap;
	font-size: 14px;
	font-family: "open-semibold";
	// cursor: pointer;

	&:first-child {
		border-radius: 20px 0 0 20px;
	}

	&:last-child {
		border-radius: 0 20px 20px 0;
		margin-right: 0;
	}

	&.active {
		background: #593890;
    color: #FFFFFF;
	}
	
	&:hover {
    background: #8B6CB6;
    color: #FFFFFF;
	}
	
	@include phones {
		padding: 10px 15px;
	}
}

.model__refill-calc-bottom {
	border-top: 2px solid #EBEBEB;
	margin-top: 10px;
	font-size: 12px;
	display: flex;
}

.model__refill-calc-bottom-link {
	width: 50%;
	color: #0000EE;
	text-decoration: underline;
	display: flex;
	font-family: "open-semibold";
	padding: 5px 0;
	
	&:hover {
		text-decoration: none;
	}
}

.model__refill-calc-bottom-text {
	padding: 5px 0;
	font-family: "open-semibold";
	color: #8F8F8F;
}

.model__refill-total-wrap {
	display: flex;
	align-items: center;

	@include phones {
		justify-content: center;
	}
}

.model__refill-total {
	display: flex;
	align-items: flex-end;

	@include phones {
		flex-direction: column;
		align-items: center;
	}

	.model__price-money {
		margin-right: 20px;
	}
	
	.model__price-action {
		
		@include phones {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;
			// margin-left: 10px;
		}
	}
}


//Model-slider
.model__image-slider {
	width: 50%;
}
.model__slider {
  position: relative;
}
.model__slides {
  position: relative;
  height: 600px;
  padding: 0px;
  margin: 0px;
	list-style-type: none;
	
	@include tablets-hor {
		// height: 450px;
		// display: flex;
		// justify-content: center;
		// width: 100%;
	}

	@include phones {
		display: none;
	}
}

.model__slide {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
	transition: opacity 1s;
	
	@include tablets-hor {
		// width: 77%;
	}
}

.model__slide-img {
  max-width: 100%;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.model__controls {
  padding: 50px 20px;
}

.model__controls-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	height: 100%;
	
	@include tablets-hor {
		flex-direction: row;
	}

	@include tablets {
		flex-wrap: wrap;
	}
}

.model__controls-item {
	height: 80px;
	width: 80px;
  &.showing {
    .model__controls-button {
      background-color: $yellow;
      .model__controls-title,
      .model__controls-desc {
        color: #000;
				@include phones {
					color: #fff;
				}
			}
			
			@include phones {
				background-color: transparent;
			}
    }
	}
	
	@include tablets-hor {
		height: initial;
		margin-right: 10px;
		// padding: 20px 0;
	}

	@include tablets {
		width: 48%;
		margin-bottom: 20px;
	}

	@include phones {
		width: 100%;
	}
}

.model__controls-button {
  border: 3px solid $yellow;
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
	padding: 0 20px;
	
	@include tablets {
		padding: 15px 15px
	}
}

.model__controls-title {
  color: #fff;
  font-family: "open-semibold";
  font-size: rem(24px);
	text-align: left;
	
	@include tablets-hor {
		font-size: rem(18px);
	}
}

.model__controls-desc {
	margin-top: 10px;
  text-align: left;
  font-size: rem(18px);
  color: #fff;
	@include tablets-hor {
		font-size: rem(14px);
	}
}

//model tabs
.model__actions-tabs {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.model__actions-tab {

	&.active {
		text-decoration: underline;
	}
}

.model__actions-content {
	display: none;

	&.active {
		display: block;
	}
}

//repair
.model__actions-content-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.model__actions-content-item {
	display: flex;
	align-items: center;
	height: 100%;
	flex-direction: column;
	width: 45%;
	border: 1px solid #8F8F8F;
	padding: 26px;
	border-radius: 30px;
	margin-top: 27px;
	text-align: center;
	min-height: 250px;
}

.model__actions-content-item-title {
	display: flex;
	justify-content: center;
}